.wrapper {
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card {
    min-height: 27rem;
    border-radius: 13px;
    box-shadow: 20px 40px 33px rgba(0,0,0,0.3);
    padding: 2rem;
    width: 20rem;
    background-color:  #6cc2ce;

}

.hide-button {
    text-align: center;
    line-height: 10rem;
    font-size: 6rem;
    align-items: center;
    width: 16rem;
    height: 10rem;
    background-image: linear-gradient(70deg, RoyalBlue   , DarkTurquoise );
    background-size: cover;
    background-position: center center;
    box-shadow:  10px 15px 15px 6px #3891b4;
    border-radius: 15px;
}

.hide-button:hover{
 cursor: pointer;
}
